
.none{
    display: none;
}
.block{
    display:block;
}
.menuDisplayNone{
    display:none;
}
.personMargin{
    margin-right:100px;
}

@media screen and (max-width: 768px){
    .menuDisplayNone{
        display:block;
    }
    .navDisplayNone{
        display:none;
    }
    .personMargin{
        margin-right:70px;
    }
}
@media screen and (max-width: 500px){
    .personMargin{
        margin-right:30px;
  }
}
