
.adaptForm{
    background-color: darkred;
}
.form {
    display:flex;
    justify-content:center;
    flex-flow:column;
    width:350px;
    background-color:#fff;
    margin:auto;
    border:1px solid black;
    padding:10px;
}
.textField{
    width: 250px;
    margin-top: 15px;
}
@media screen and (max-width: 768px){
    .form {
        width: 300px;
    }
    .textField{
        width: 200px;
    }

}

