body{
    background-color: #fff;
}
.container_{
    margin: 0 auto;
    max-width: 960px;
}
.kiosk_cards{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}
.card {
    margin:15px;
}
.d_flex{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
@media screen and (max-width: 768px){
    .kiosk_cards{
        flex-flow: wrap;
    }
    .cards_size {
        height: 100%;
        width: 250px;
    }
}
@media screen and (max-width: 550px){
    .cards_size {
        height: 100%;
        width: 200px;
    }
}
