.d_flex {
    display: flex;
    justify-content: flex-start;
}
.fontSize{
    font-size: 10px;
}
.kioskInfo{
    display: flex;
    justify-content: space-around;
}
.productsPageFlex{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 15px;
}
.workHoursFlex{
    display: flex;
    justify-content: flex-start;
}
.kioskInfoBlockOne{
    width: 250px;
}
.cards{
    width: 150px;
    height: 250px;
    margin-left: 20px;
}
.fullHeight{
    height: 100%;
}
.img_size{
    height: 150px;
    width: 100%;
}
.blockTwo{
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .kioskInfoBlockOne{
        width:150px;
    }
    .PickALocation{
        margin-top: 20px;
    }
    .blockTwo{
        display: flex;
        justify-content:center;
        flex-flow: column-reverse;
    }
    .d_flex{

        flex-flow: wrap;
    }
    .cards{
        height: 300px;
    }

}

@media screen and (max-width: 500px) {

    .kioskInfo{
        justify-content: center;
        flex-flow: column;
    }
    .d_flex{
        justify-content: center;
    }
}